div#debug {
    font-family: "Cascadia Code";
    white-space: pre-line;
    color: navy;
}

body {
    background-color: beige;
    width: 66%;
    margin: 0 auto;
}

body.green {
    background-color: aquamarine;
}
