@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

div#debug {
	font-family: 'Fira Code', monospace;
	white-space: pre-line;
	color: navy;
}

body.fouc {
	transform: rotate(1deg);
}

body>header,
body>main,
body>footer {
	border-width: 1px;
	border-style: dashed;
}

header,
footer {
	border-color: gray;
	background-color: #201940;
}

main {
	border-color: purple;
}