div#debug {
	font-family: "Cascadia Code";
	white-space: pre-line;
	color: navy;
}

body {
	background-color: blue;
	width: 66%;
	margin: 0 auto;
}

.green {
	background-color: darkgreen;
}

h4 {
	color: palegreen;
	text-shadow: 0ch;
	display: block;
}